/* GLOBAL */

body {
  width: 100vw;
}

.wine-header {
  max-width: 100%;
  background-color: #314e16c3;
}


.wine-header h1 {
  text-align: center;
  font-size: 6vw;
  font-family: 'Dancing Script', cursive;
  color: #ffffff;
  padding: 8px 8px 8px 32px;
  margin-right: 8vw;


}

.h2 {
  text-align: center;
  font-size: 3.2vw;
  font-family: 'Dancing Script', cursive;
  color: #f5aaaa;
  margin-top: 1.9vw;
  text-shadow:
    0.05em 0 rgba(0, 0, 0, 0.506),
    0 0.05em rgba(0, 0, 0, 0.506),
    -0.05em 0 rgba(0, 0, 0, 0.506),
    0 -0.05em rgba(0, 0, 0, 0.506),
    -0.05em -0.05em rgba(0, 0, 0, 0.506),
    -0.05em 0.05em rgba(0, 0, 0, 0.506),
    0.05em -0.05em rgba(0, 0, 0, 0.506),
    0.05em 0.05em rgba(0, 0, 0, 0.506);

}


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #7dac53b0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  z-index: 10;
}


.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}



.sidebar>h3 {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}


.sidebar a:hover {
  color: #f9f9f999;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.openbtn {
  font-size: 2vw;
  cursor: pointer;
  background-color: #4b221300;
  color: white;
  padding: 5px 2px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  border-radius: 25%;
  margin-top: 1vw;
  margin-left: 1vw;
  font-size: 32px;
  display: inline;
  float: left;
  margin-top: 30px;
}

.openbtn:hover {
  color: rgba(255, 255, 255, 0.498);
}





/* INDEX HTML HOMEPAGE */


#containerindex {
  position: relative;
}

#indexback {
  position: absolute;
}

.choose1 {
  max-height: 30vw;
  max-width: 28.5vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 6%;
}

.choose1:hover {
  opacity: 80%;
}

#img3 {
  margin-right: 50%;
}

#front2 {
  display: flex;
  justify-content: center;
  margin: 25%;
  margin-top: 10%;
}

#indexpic {
  z-index: 9;
  position: relative;
}

.overlay3 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  max-width: 90%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  left: 6%;
  bottom: 24px;
}


.container2:hover .overlay3 {
  opacity: 8;
}


/* EVENT HTML*/


.img2 {
  max-height: 500px;
  max-width: 220px;
  padding: 20px;
  border-radius: 10%;
}

#back {
  position: absolute;
  z-index: 5;
  background-color: yellow;
}


#front {
  display: flex;
  justify-content: center;

  margin-right: 3%;
  margin-top: 2%;
}

.img2 {
  max-height: 500px;
  max-width: 100%;
  padding: 20px;
  border-radius: 10%;
}

.container2 {
  position: relative;
  margin: 20px;
  justify-content: center;
}

#overlay2 {
  bottom: 24px;
}

#overlay2:hover {
  background-color: #314e16c3;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  max-width: 90%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  left: 6%;
  bottom: 24px;
}

.container2:hover .overlay {
  opacity: 1;
}

.bg-img {
  /* The image used */
  background-image: url("../img/background1.jpeg");

  min-height: 40vw;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.head2 {
  background-image: url("../img/grapesinhand.jpg");

  min-height: 380px;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
  width: 100%;
}

.head3 {
  background-image: url("../img/background2.jpg");

  min-height: 40vw;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.head4 {
  background-image: url(../img/distillery.jpg);

  min-height: 380px;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.head5 {

  background-image: url("../img/wallofwine.jpg");

  max-height: 900px;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.head6 {

  background-image: url("../img/winepeeps.jpg");

  max-height: 900px;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.head7 {

  background-image: url("../img/winecellar3.jpg");

  min-height: 900px;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.headV {

  background-image: url("../img/barrelcellar2.jpg");

  max-height: 100%;
  max-width: 100%;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.headW {

  background-image: url("../img/winebottoms.jpg");

  max-height: 100%;
  max-width: 100%;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* PREF HTML */

#cont3 {
  position: relative;
}

#prefback {
  position: absolute;
  z-index: 3;
}

.choosepref {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  max-height: 30vw;
  text-align: center;
  max-width: 20vw;

}

.choosepref:hover {
  opacity: 80%;
}

#white-wine {
  float: left;
  margin-left: 25vw;
  padding-top: 8vw;

}

#red-wine {
  margin-right: 28vw;
  margin-left: 60vw;
  padding-top: 11vw;

}

#prefpic {

  z-index: 9;
  position: relative;
}

.para {
  color: #f3faf2;
  width: 200px;
  border: 5px solid #314e16c3;
  padding: 10px;
  margin: 20px;
}

p {
  color: #ffffff;
}

/* selectevent html */

.wineselect {
  height: 30vw;
  width: 10vw;
  margin-left: 27vw;
  padding-top: 4vw;
}


/* winelanding */


.column {
  float: left;
  width: 12%;
  margin-top: 13vw;
  margin-right: 5vw;
}

.column:hover {
  opacity: 88%;
}

.row {
  margin-left: 24vw;
}

/* catalog */

#winerow {
  margin-top: 6vw;
  max-width: 10vw;
  margin-left: 9vw;
  max-height: 11vw;

}

#winebig {
  max-width: 10vw;
  margin-left: 1vw;
}

#all-wines {
  background-color: rgba(65, 15, 15, 0.299);

  width: 100%;

}

#cat {
  background-color: rgba(65, 15, 15, 0.299);
}


/* winepage */

.winepage {
  max-height: 35vw;
  float: left;
  margin-top: 1vw;
  margin-left: 3vw;
  margin-right: 1vw;
}


.winep {
  font-size: 50px;
  margin-top: 5vw;
  margin-right: 3vw;
  background-color: #314e16c1;
  letter-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

/* wine favs */

.wineimg1 {
  max-height: 20vw;
  margin-left: 1vw;
  margin-top: 10vw;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 60px;
  /* Height of the footer */
  background: #314e16c3;
}

/*varietal html*/

.rowv {
  display: flex;
  justify-content: center;
}

.columnv {
  position: relative;
  white-space: 150px;
  justify-content: center;
  padding-inline: 4%;
}

#cab1 {
  max-width: 5vw;
  margin-left: 1vw;
  object-fit: contain;
}

.winev1 {
  width: 167px;
}

.winev2 {
  width: 123px;

}

.winev3 {
  width: 165px;
}

.winev4 {
  width: 133px;
}

.winev5 {
  width: 174px;
}

.winev6 {
  width: 128px;
}

.winev7 {
  width: 428px;
}

.winev8 {
  width: 424px;
}

.winev9 {
  width: 145px;
}

.winev10 {
  width: 473px;
  padding-left: 26%;
}

.winev11 {
  width: 128px;
}

.winev12 {
  width: 430px;
  padding-left: 26%;
}