.wine-header {
max-width: 100%;
background-color: #314e16c3;
}

.wine-header h1 {
  text-align: center;
  font-size: 6vw;
  font-family: 'Dancing Script', cursive;
  color: #ffffff;
  padding: 30px;
  

}

#containerindex{
  position: relative;
}

.choose1 {
  max-height: 30vw;
  max-width: 28.5vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3vw;
  text-align: center;
  padding-top: 15vw;
  border-radius: 20%;


}

.choose1:hover {
  opacity: 80%;

}

#wine {
  float: left;
  margin-left: 2vw;
}

#diner1 {
  margin-right: 2vw;
}

#indexpic {
  z-index: 9;
  position: relative;

}




.sidebar {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #523875; 
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
  z-index: 10;
}


.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}



.sidebar > h3 {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}


.sidebar a:hover {
  color: #f9f9f999;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.openbtn {
  font-size: 2vw;
  cursor: pointer;
  background-color: #4b2213d5;
  color: white;
  padding: 15px 20px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  border-radius: 25%;
  margin-top: 1vw;
  margin-left: 1vw;
}

.openbtn:hover {
  background-color:  #41298092;
}

 .img2 {
  max-height: 300px;
  max-width: 200px;
  padding: 20px;
  border-radius: 10%;
}

.hero {
  max-width: 100%;

}

#back {
  position:absolute;
  z-index: 5;
}


#container-event {
  /* background-image: url('../img/background1.jpeg'); */
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 500px;
}

#front {
  z-index: 9;
  position: relative;
}

